<header>
  <div v-if="user">
      Hi {{user.email}}

    <ul></ul>
    <li><a href='/user'>User page</a></li>
    <li><a href='/logout'>Logout</a></li>
  </div>
  <div v-else>
    <li class="nav-item">
      <a class="nav-link" href="/login"><i class="fa fa-sign-in"
          aria-hidden="true"></i>
        Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register"><i class="fa fa-wpforms"
          aria-hidden="true"></i>
        Register</a>
    </li>
  </div>
</header>